<aside class="col-lg-2">
    <!-- Account menu toggler (hidden on screens larger 992px)-->
    <!-- Actual menu-->
    <div class="cz-sidebar-static h-100 p-0">
        <div class="secondary-nav border-right" id="account-menu">
            <ul class="list-unstyled mb-0">
                
         
            <div class="p-4">
                <h3 class="font-size-sm mb-0 text-muted">Manage</h3>
            </div>
        

                <li class="mb-0 border-bottom"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                        href="/admin/customers"><i class="czi-user opacity-60 mr-2"></i>Students</a>

                </li>

                     <li class="mb-0 border-bottom"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                        href="/admin/gallery"><i class="czi-user opacity-60 mr-2"></i>Add Gallery</a>

                </li>
                <li class="mb-0 border-bottom"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                        href="/admin/ourachievements"><i class="czi-user opacity-60 mr-2"></i>Our Achievements</a>

                </li>
                 <li class="mb-0 d-flex"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                        href="/admin/products"><i class="czi-user opacity-60 mr-2"></i>Add Courses</a>
                        <a class="sidebar-link-addon text-muted m-auto" href="/admin/product/new">
                    {{{feather 'plus'}}}
                </a> 
                </li>

             <li class="mb-0 d-flex"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                        href="/admin/users"><i class="czi-user-circle opacity-60 mr-2"></i>Users</a>
                    <a class="sidebar-link-addon text-muted m-auto" href="/admin/user/new">
                    {{{feather 'plus'}}}
                </a>            
                </li> 
            </ul>
           
     
        </div>
    </div>
</aside>