  <div id="main" class="w-100">
  
      <div class="registermain" style="padding-top: 20px;display: flex;">
        <div class="registercontainer">
          <div class="sectionreg">
          <h2><strong>Registration Form</strong></h2>
        </div>

      
         
            <form action="/customer/register" method ="POST" enctype="multipart/form-data">
            
               <div class="sectionreg row">
                <div class="col-12 mt-2 mb-4">
                   <h3><strong>Personal Information</strong></h3>
                </div>
                  <div class="col-md-6 form-group">
                  <input type="text" name="Name" class="form-control" id="Name" placeholder="Your Name" data-rule="minlen:4" value="" data-msg="Please enter at least 4 chars" required />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="Father" id="Father" placeholder="Father Name"  value="" data-msg="Please Enter Father Name"  required/>
                  <div class="validate"></div>
                </div>
        
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="Mother" id="Mother" placeholder="Mother Name" data-rule="minlen:4" value="" data-msg="Please Enter Father's Name"required />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="date" class="form-control" name="Date" id="Date" placeholder="Date of birth" value="" data-msg="Please Enter Date of Birth" required />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-12">
                <input type="number" class="form-control" name="Addhar" id="Addhar" placeholder="Addhar Number" data-rule="minlen:12" value="" data-msg="Please Enter Addhar Number"required />
                <div class="validate"></div>
              </div>
            <div class="form-group col-sm-6">
                <label for="Gender">Choose Gender:</label>
                <select name="Gender" class="ui selection dropdown" id="Gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>

              <div class="form-group col-sm-6">
              <label for="Religion">Religion: </label>
               <select name="Religion" class="ui selection dropdown" id="Religion">
                   <option value="">Select </option>
                    <option value="Hindu">Hindu</option>
                    <option value="Muslim">Muslim</option>
                    <option value="Christians">Christians</option>
                    <option value="Sikhs">Sikhs</option>
                    <option value="Jains">Jains</option>
                    <option value="Buddhists">Buddhists</option>
                  </select>
            </div>
              
               </div>
              
              <div class="sectionreg row">
                <div class="col-12 mt-2 mb-4">
                   <h3><strong>Location Details</strong></h3>
                </div>
                <div class="form-group col-sm-6">
                <input type="text" class="form-control" name="Address" id="Address" placeholder="Enter Your Address" data-rule="minlen:4" value="" data-msg="Please Enter Your Address"required />
                <div class="validate"></div>
              </div>

              <div class="form-group col-sm-6">
                <input type="text" class="form-control" name="State" id="State" placeholder="State" data-rule="minlen:4" value="" data-msg="Please Enter State."required />
                <div class="validate"></div>
              </div>
              
               <div class="form-group col-sm-6">
                <input type="text" class="form-control" name="City" id="City" placeholder="Enter Your City" data-rule="minlen:4" value="" data-msg="Please Enter Your City"required />
                <div class="validate"></div>
              </div>

               <div class="form-group col-sm-6">
                <input type="number" class="form-control" name="Pincode" id="Pincode" placeholder="Enter Your Pincode" data-rule="minlen:4" value="" data-msg="Please Enter Your Pincode"required />
                <div class="validate"></div>
              </div>
              </div>

              

            <div class="sectionreg row">
              <div class="col-12 mt-2 mb-4">
                   <h3><strong>Course Details</strong></h3>
                </div>
              <div class="form-group col-sm-12">
              <label for="Course">Choose a Unpaid Course: (Not mandatory)</label>
                 <select name="Course" class="ui selection dropdown" id="Course">
                   {{#each unpaidcourse}}
                   <option value="{{this._id}}">{{this.productTitle}}</option>
                    {{/each}}
                  </select>
            </div>
            <div class="form-group col-sm-12">
              <label for="paidCourse">Choose Paid Course: (Not mandatory and Can Choose Multiple)</label>
              <select name="skills" id="paidCourse" multiple="" class="ui fluid dropdown">
                {{#each paidcourse}}
              <option value="{{this._id}}">{{this.productTitle}}</option>
              {{/each}}
            </select>
            </div>
            
            <div class="form-group col-sm-6">
              <label for="">Want Placement Option</label> <br>
              <input type="radio" id="placeyes" name="placement" value="yes">
              <label for="placeyes">Yes</label><br>
              <input type="radio" id="placeno" name="placement" value="no">
              <label for="placeno">No</label><br>
            </div>
            <div class="form-group col-sm-6">
              <label for="placetype">Placement Type</label>
              <select name="placetype" class="ui selection dropdown" id="placetype">
                <option value="self">Self Employed</option>
                <option value="wager">Wager</option>
              </select>
              
            </div>
            <div class="form-group col-sm-6">
              <label for="">Loan Option</label> <br>
              <input type="radio" id="loanyes" name="loan" value="yes">
              <label for="loanyes">Yes</label><br>
              <input type="radio" id="loanno" name="loan" value="no">
              <label for="loanno">No</label><br>
            </div>
            
            <div class="form-group col-sm-6">
              <label for="loadtype">Loan Type</label>
              <select name="loantype" class="ui selection dropdown" id="loantype">
                <option value="pmegp">PMEGP</option>
                <option value="kvic">Kvic</option>
                <option value="mudra">Mudra Load</option>
                <option value="jkedi">Jkedi</option>
              </select>
              
            </div>
            </div>
           <div class="sectionreg row">
             <div class="col-12 mt-2 mb-4">
                   <h3><strong>Course Details</strong></h3>
                </div>
              <div class="form-group col-sm-12">
              <label for="uploadpdffile">Upload 10th Marksheet or Any Higher education (Mandatory)</label>
              <input type="file" id="uploadpdffile" name="uploadFile10" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
            <div class="form-group col-sm-12">
              <label for="uploadpdffile2">Upload 12th Marksheet or Any Other Marksheet (Not Mandatory)</label>
              <input type="file" id="uploadpdffile2" name="uploadFile12" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
            <div class="form-group col-sm-12">
              <label for="uploadpdffile3">Upload Photo (Mandatory)</label>
              <input type="file" id="uploadpdffile3" name="uploadFilephoto" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
            <div class="form-group col-sm-12">
              <label for="uploadpdffile4">Upload Sign (Mandatory)</label>
              <input type="file" id="uploadpdffile4" name="uploadFilesign" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
           </div>
              
             <div class="sectionreg">
                <div class=""><button class="btn btn-primary" style="font-size: 17px;" type="submit">Submit</button></div>
             </div>
              
            </form>
    
       
        
       
        </div>
      </div>

   
   <!-- End Contact Section -->

  </div><!-- End #main -->
  
<script>
  $('.ui.dropdown')
  .dropdown({
 
  })
;

</script>
