  <main id="main" class="container">

    <!-- ======= Breadcrumbs ======= -->
    <!-- <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Contact</li>
          </ol> 
        </div>

      </div>
    </section> -->
    <!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <!-- <div class="map-section">
      <iframe style="border:0; width: 90%; height: 500px; margin: 0 5% 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19733.224289683032!2d74.8230417284347!3d32.72333854562453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391e84ff2378ed91%3A0x19bec1f7d5d92027!2sTalab%20Tillo%2C%20Jammu%20180002!5e0!3m2!1sen!2sin!4v1606337134572!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
    </div>

    <section id="contact" class="contact">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>Huzari Bagah Road<br>SRL Lab Tallab Tillo<br>
                    Jammu, India</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>deepakwdsoicety@gmail.com</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p> +91 9469543103<br> 0191 2554999</p>
                </div>
              </div>
            </div>

          </div>

        </div> -->
        <div class="section-title section-title2">
          <h2><strong>Registration Form</strong></h2>
        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form action="/customer/register" method ="POST" enctype="multipart/form-data">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="Name" class="form-control" id="Name" placeholder="Your Name" data-rule="minlen:4" value="" data-msg="Please enter at least 4 chars" required />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="Father" id="Father" placeholder="Father Name"  value="" data-msg="Please Enter Father Name"  required/>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Mother" id="Mother" placeholder="Mother Name" data-rule="minlen:4" value="" data-msg="Please Enter Father's Name"required />
                <div class="validate"></div>
              </div>

              <div class="form-group">
                <input type="number" class="form-control" name="Addhar" id="Addhar" placeholder="Addhar Number" data-rule="minlen:12" value="" data-msg="Please Enter Addhar Number"required />
                <div class="validate"></div>
              </div>

              <div class="form-group">
                <input type="date" class="form-control" name="Date" id="Date" placeholder="Date of birth" value="" data-msg="Please Enter Date of Birth" required />
                <div class="validate"></div>
              </div>
              
              <div class="form-group">
                <input type="text" class="form-control" name="Address" id="Address" placeholder="Enter Your Address" data-rule="minlen:4" value="" data-msg="Please Enter Your Address"required />
                <div class="validate"></div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="State" id="State" placeholder="State" data-rule="minlen:4" value="" data-msg="Please Enter State."required />
                <div class="validate"></div>
              </div>
              
               <div class="form-group">
                <input type="text" class="form-control" name="City" id="City" placeholder="Enter Your City" data-rule="minlen:4" value="" data-msg="Please Enter Your City"required />
                <div class="validate"></div>
              </div>

               <div class="form-group">
                <input type="number" class="form-control" name="Pincode" id="Pincode" placeholder="Enter Your Pincode" data-rule="minlen:4" value="" data-msg="Please Enter Your Pincode"required />
                <div class="validate"></div>
              </div>

              <div class="form-group">
                <label for="Gender">Choose Gender:</label>
                <select name="Gender" id="Gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>

            <div class="form-group">
              <label for="Course">Choose a course:</label>
                 <select name="Course" id="Course">
                    <option value="Computer">Computer courses</option>
                    <option value="Account">Account course</option>
                    <option value="Medical">Medical laboratory technician</option>
                    <option value="Retail">Retail sale</option>
                  </select>
            </div>
            <div class="form-group">
              <label for="uploadpdffile">Upload 10th Marksheet</label>
              <input type="file" id="uploadpdffile" name="uploadFile" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
            <div class="form-group">
              <label for="uploadpdffile2">Upload 12th Marksheet</label>
              <input type="file" id="uploadpdffile2" name="uploadFile" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
            <div class="form-group">
              <label for="uploadpdffile3">Upload Photo</label>
              <input type="file" id="uploadpdffile3" name="uploadFile" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
            <div class="form-group">
              <label for="uploadpdffile4">Upload Sign</label>
              <input type="file" id="uploadpdffile4" name="uploadFile" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
              
              <div class="text-center"><button class="btn btn-primary" type="submit">Submit</button></div>
              
            </form>
    
          </div>
        
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->