{{> partials/menu}}
  <main id="main" class="container">
        <div class="section-title section-title2">
          <h2><strong>Update Gallery</strong></h2>
        </div>
        <div class="col-12">
                <div class="page-header">
                    <div class="float-right">
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal">Add video</button>
                    </div>
                    <h2>{{ @root.__ "Edit product" }}</h2>
                </div>
            </div>
        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form action="/customer/gallery" method ="POST" enctype="multipart/form-data">
            
            <div class="form-group">
              <label for="uploadpdffile3">Upload Photo</label>
              <input type="file" id="uploadpdffile3" name="uploadFile" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            </div>
              
              <div class="text-center"><button class="btn btn-primary" type="submit">Submit</button></div>
              
            </form>
    
          </div>
        
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="uploadForm" enctype="multipart/form-data"></form>
            <div class="modal-header">
                <button type="button" class="close marg-left-5" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              
            </div>
         <div class="modal-header">
           
             <h4>  <input type ="text" name="youtube" id="youtube">Add Youtube Link here</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="uploadYoutube" class="btn btn-outline-primary">{{ @root.__ "Submit" }}</button>
            </div>
        </div>
    </div>
</div>
